@import "../App.css";

nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.nav-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: none;
}

.btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-grey-5);
}

.btn-container {
  height: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signin-btn {
  display: none;
}

.fabars-btn {
  display: inline-block;
}

@media screen and (min-width: 880px) {
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
    margin-left: 2.5vw;
  }

  .nav-links li {
    height: 100%;
    margin-top: .20rem
  }

  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    letter-spacing: 1px;
    width: 7.25rem;
  }

  .fabars-btn {
    display: none;
    width: 0rem;
  }

  .signin-btn {
    display: inline-block;
  }
}
